body {
  background-color: #e6e6fa;
}

.net {
  height: 80px;
  margin-left: 10px;
}

.container {
  margin-top: 80px;
}

.sp {
  color: white;
  font-size: 45px;
}
hr.new1 {
  color: white;
}

.net2 {
  height: 150px;
}

.c {
  margin-bottom: 10px;
  margin-left: 30px;
}

.p1 {
  padding: 6px 15px;
  color: white;
  width: 310px;
  background-color: grey;
  font-size: 20px;
}

.p2 {
  margin-top: 30px;
  font-size: 22px;
  color: white;
  opacity: 0.8;
  margin-bottom: 0px;
}

.d {
  background-color: black !important;
  border: 1px solid white !important;
  border-radius: 0px !important;
  height: 33px !important;
  width: 120px !important;
  font-weight: 500 !important;
  text-align: left !important;
  padding: 0 10px !important;
}

.p3 {
  padding-left: 30px;
  color: white;
  opacity: 0.8;
  font-size: 20px;
}

.letter-spacing {
  letter-spacing: 3px;
}

input {
  padding: 12px;
}

.letter-spacing2 {
  letter-spacing: 10rem;
}
